<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <style>
      .form{
        width: 100%;
      }
      .formUser{
        #display: flex;
      }
      .form-group{
        display: flex;
      }
      .form-accounts{
        margin-left: 10px;
      }
      label{
        width: 200px;
      }
      .personal{
        width: 550px;
        padding: 30px;
      }
      .account{
        width: 550px;
        padding: 30px;
      }
      .btnSaveUser{
        padding: 25px;
        margin-top: -40px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="">
    		<h3>Nuevo Usuario</h3>
        <br>
        <div class="form">
          <div id="msgErrors">

          </div>
          <form class="formUser" method="post" id="formSaveUser" action="{% url 'register'  %}">
      			{% csrf_token %}
            <div class="personal">
              <h5>Datos Personales</h5>
              <br>
              <div class="form-group">
                {{form.name.label_tag}}
                {{form.name}}
              </div>
              <div class="form-group">
                {{form.lastP.label_tag}}
                {{form.lastP}}
              </div>
              <div class="form-group">
                {{form.lastM.label_tag}}
                {{form.lastM}}
              </div>
              <div class="form-group">
                {{form.phone.label_tag}}
                {{form.phone}}
              </div>
              <div class="form-group">
                {{form.address.label_tag}}
                {{form.address}}
              </div>
            </div>
            <div class="account">
              <h5>Datos de usuario</h5>
              <br>
              <div class="form-group">
                {{form.username.label_tag}}
                {{form.username}}
              </div>
              <div class="form-group">
                {{form.email.label_tag}}
                {{form.email}}
              </div>
              <div class="form-group">
                <label>Contraseña</label>
                {{form.password1}}
              </div>
              <div class="form-group">
                <label>Repetir Contraseña</label>
                {{form.password2}}
              </div>
            </div>
            <div class="btnSaveUser">
              <button class="btn btn-info" type="submit" id="btnSaveUser">Guardar</button>
            </div>
      		</form>
        </div>
    </div>
  </body>
  <script>

    function jsonFormat(formArray) {
      let returnArray = {};
      for (let i=0;i<formArray.length;i++) {
          if (formArray[i].value) {
              returnArray[formArray[i].name] = formArray[i].value;
          }
      }
      return returnArray;
    }

    $('#btnSaveUser').click(function(e){
      e.preventDefault();

      let form = $('#formSaveUser');
      //let csrfmiddlewaretoken = form.find("input[name='csrfmiddlewaretoken']" ).val();
      let formData = jsonFormat($("#formSaveUser").serializeArray());

      console.log(formData);

      $.ajax({
        data: formData,
        type: form.attr('method'),
        url: form.attr('action'),
        success: function(response){
          if(response.status){
            alert(response.msg);
          }

          if(!response.status){
            let errors = response.errors;
            let string = "";

            for(field in errors){
              let typeErrors = errors[field];

              for(let i=0; i < typeErrors.length; i++){
                  string = " " + typeErrors[i];
              }

              alert(field + ":" + string);
              string = "";
            }
          }
        },
        error: function(e){
          console.log(e);
        }
      });
    });


  </script>
</html>
