{% extends 'base.html' %}

{% block head %}
<title>VTtracker Registrar Encomienda</title>
<style>
  .content-binnacle{
    width: 350px;
  }
</style>
{% endblock %}
{% block body %}
<div class="container">
  <div class="content-service">
    <h5>Nueva Encomienda</h5>
    <br>
    <form class="formService" method="post" id="formSaveService" action="{% url 'registerService'  %}">
      {% csrf_token %}
      <div class="form-group">
        {{form.subject.label_tag}}
        {{form.subject}}
      </div>
      <div class="form-group">
        {{form.from_depto.label_tag}}
        {{form.from_depto}}
      </div>
      <div class="form-group">
        {{form.start_kilometer.label_tag}}
        {{form.start_kilometer}}
      </div>
      <div class="form-group">
        {{form.end_kilometer.label_tag}}
        {{form.end_kilometer}}
      </div>
      <div class="form-group">
        {{form.datetime.label_tag}}
        {{form.datetime}}
      </div>
      <div class="form-group">
        {{form.start_time.label_tag}}
        {{form.start_time}}
      </div>
      <div class="form-group">
        {{form.end_time.label_tag}}
        {{form.end_time}}
      </div>
      <div class="form-group">
        {{form.description.label_tag}}
        {{form.description}}
      </div>
      <br>
      <div class="btnSaveService">
        <button class="btn btn-info" type="submit" id="btnSaveservice">Guardar</button>
      </div>
    </form>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  var $j = jQuery.noConflict();

  changesTypesInput();

  function changesTypesInput(){
    $('#timeS').attr('type', 'time');
    $('#timeE').attr('type', 'time');
    $('#datepickerS').attr('type', 'date');
  }

  function jsonFormat(formArray) {
    let returnArray = {};
    for (let i=0;i<formArray.length;i++) {
        if (formArray[i].value) {
            returnArray[formArray[i].name] = formArray[i].value;
        }
    }
    return returnArray;
  }

  function saveService(formData){
    let form = $j('#formSaveService');

    $j.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: formData,
      success: function(response){
        console.log(response);
        if(response.status){
          alert(response.msg);
        }
      },
      error: function(e){
        console.log(e);
      }
    });
  }

  $j('#btnSaveservice').click(function(e){
    e.preventDefault();

    //validation
    let form = $j('#formSaveService');
    let formData = jsonFormat(form.serializeArray());
    console.log(formData);

    saveService(formData);
  });



</script>

{% endblock %}
