{% extends 'base.html' %}

{% block head %}
<title>VTtracker Registrar Recarca Combustible</title>
<style>
  .content-binnacle{
    width: 350px;
  }
</style>
{% endblock %}
{% block body %}
<div class="container">
  <div class="content-binnacle">
    <h5>Recarga de Combustible</h5>
    <br>
    <form class="formRefuel" method="post" id="formSaveRefuel"
    enctype="multipart/form-data" action="{% url 'registerRefuel' %}">
      {% csrf_token %}
      <div class="form-group">
        {{form.liters.label_tag}}
        {{form.liters}}
      </div>
      <div class="form-group">
        {{form.amount.label_tag}}
        {{form.amount}}
      </div>
      <div class="form-group">
        {{form.datetime.label_tag}}
        {{form.datetime}}
      </div>
      <div class="form-group">
        <label for="vehicles">Vehiculo: </label>
        <select class="form-control" id="vehiclesList">
          <option value="0">Selecciona una opción</option>
        </select>
      </div>
      <div class="form-group">
        {{form.image.label_tag}}
        {{form.image}}
      </div>
      <br>
      <div class="btnSaveRefuel">
        <button class="btn btn-info" type="submit" id="btnSaveRefuel" disabled >Guardar</button>
      </div>
    </form>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  var $j = jQuery.noConflict();
  getVehicles();

  var object_file = {};

  $j('input:file').change(function(e){

    let hasFile = $j('input:file').toArray().some(function(file) {
      object_file['image'] = e.target.files[0];
      return file.value;
    });

    $j('#btnSaveRefuel').prop('disabled', !hasFile);
  });


  $j('#datepickerA').attr('type', 'date');

  function jsonFormat(formArray) {
    let returnArray = {};
    for (let i=0;i<formArray.length;i++) {
        if (formArray[i].value) {
            returnArray[formArray[i].name] = formArray[i].value;
        }
    }
    return returnArray;
  }

  function saveRefuel(formData){
    let form = $j('#formSaveRefuel');

    $j.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: JSON.stringify(formData),
      success: function(response){
        console.log(response);
        if(response.status){
          alert(response.msg);
        }
        else{
          alert(response.errors);
        }
      },
      error: function(e){
        console.log(e);
      }
    });
  }

  function getVehicles(){
    $j.ajax({
      type: 'GET',
      url: "{% url 'getVehicles' %}",
      success: function(response){
        if(response.status){
          let data = JSON.parse(response.data);
          let vehiclesList = $('#vehiclesList');
          for(let i=0; i<data.length; i++){
            let vehicle = data[i].fields.alias;
            let option = document.createElement('option');

            option.text = vehicle;
            option.setAttribute('value', data[i].pk);
            vehiclesList.append(option);
          }
        }else{
          alert(response.msgError);
        }
      },
      error: function(e){
        console.log(e);
      }
    });
  }

  $j('#formSaveRefuel').submit(function(e){
    e.preventDefault();
    let form = $j('#formSaveRefuel');

    let vehiclesList = document.querySelector('#vehiclesList');
    var data = new FormData(form.get(0));

    data.append('vehicle_id', vehiclesList.options[vehiclesList.selectedIndex].value);

    console.log(data.getAll('csrfmiddlewaretoken'));
    console.log(data.getAll('image'));
    console.log(data.getAll('amount'));
    console.log(data.getAll('vehicle_id'));

    //var csrftoken = $j("[name=csrfmiddlewaretoken]").val();
    //var json_data = {'csrfmiddlewaretoken' : csrftoken, 'file': formData };


    $j.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: data,
      cache: false,
      processData: false,
      contentType: false,
      success: function(response){
        console.log(response);
        if(response.status){
          alert(response.msg);
        }
        else{
          alert(response.errors);
        }
      },
      error: function(e){
        console.log(e);
      }
    });
  });

  //$j('#btnSaveRefuel').click(function(e){
    //e.preventDefault();

    //validation
    /*let form = $j('#formSaveRefuel');
    let formData = jsonFormat(form.serializeArray());
    let vehiclesList = document.querySelector('#vehiclesList');
    let vehicleSelected = vehiclesList.options[vehiclesList.selectedIndex].value;

    formData['vehicle_id'] = vehicleSelected;
    formData['image'] = object_file.image;
    console.log(formData);

    saveRefuel(formData);*/




  //});

</script>
{% endblock %}
