{% extends 'base.html' %}

{% block head %}
<title>VTtracker Inicio</title>
{% endblock %}
{% block body %}
<div class="" style="margin-top: 5px;">
  <h5>Bienvenido! {{user.username}} a VT-Tracker</h5>
</div>
  <div class="container">
    <br>
    {% if user.is_superuser %}
      <a class="btn btn-success" href="{% url 'register' %}">Nuevo Usuario</a><br>
      <br>
      <h4>Flotilla por Asignar</h4>
      <br>
      <table class="table table-striped">
        <tr>
          <th scope="col"># ID</th>
          <th scope="col">Username</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
          <!--<th class = "table-success"></th>
          <th class = "table-success"></th>
          <th class = "table-success"></th>-->
        </tr>
      {% for field in users %}
      <tr>
        <td>{{field.id}}</td>
        <td>{{field.username}}</td>
        <td>{{field.name}} {{field.lastP}} {{field.lastM}}</td>
        <td>{{field.email}}</td>
        <td><a href="#">Ver más</a></td>
      </tr>
      {% endfor %}
      </table>
      <hr>
      <h4>Flotilla Asignada</h4>
    {% endif %}
    {% if not user.is_superuser %}
    <div class="actionsDriver" style="display: grid;">
        <a class="btn btn-danger" href="{% url 'registerBinnacle' %}">Registrar en Bitacora</a>
        <br>
        <a class="btn btn-danger" href="#">Nueva Encomienda</a>
        <br>
        <a class="btn btn-danger" href="{% url 'registerRefuel' %}">Recarga de Combustible</a>
    </div>
    {% endif %}

  </div>
{% endblock %}
