{% extends 'base.html' %}

{% block head %}
<title>VTtracker Registrar Bitacora</title>
<style>
  width: 350px;
</style>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="content-binnacle">
      <h5>Nuevo Registro de Bitacora</h5>
      <br>
      <form class="formBinnacle" method="post" id="formSaveBinnacle" action="{% url 'registerBinnacle'  %}">
        {% csrf_token %}
        <div class="form-group">
          {{form.route.label_tag}}
          {{form.route}}
        </div>
        <div class="form-group">
          <label for="vehicles">Vehiculo: </label>
          <select class="form-control" id="vehiclesList">
            <option value="0">Selecciona una opción</option>
          </select>
        </div>
        <div class="form-group">
          {{form.start_kilometer.label_tag}}
          {{form.start_kilometer}}
        </div>
        <div class="form-group">
          {{form.end_kilometer.label_tag}}
          {{form.end_kilometer}}
        </div>
        <div class="form-group">
          {{form.datetime.label_tag}}
          {{form.datetime}}
        </div>
        <div class="form-group">
          {{form.start_time.label_tag}}
          {{form.start_time}}
        </div>
        <div class="form-group">
          {{form.end_time.label_tag}}
          {{form.end_time}}
        </div>
        <br>
        <div class="btnSaveBinnacle">
          <button class="btn btn-info" type="submit" id="btnSaveBinnacle">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  <script>

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>

    var $j = jQuery.noConflict();
    changesTypesInput();
    getVehicles();

    function changesTypesInput(){
      $('#timeS').attr('type', 'time');
      $('#timeE').attr('type', 'time');
      $('#dateB').attr('type', 'date');
    }

    function jsonFormat(formArray) {
      let returnArray = {};
      for (let i=0;i<formArray.length;i++) {
          if (formArray[i].value) {
              returnArray[formArray[i].name] = formArray[i].value;
          }
      }
      return returnArray;
    }

    function getVehicles(){
      $j.ajax({
        type: 'GET',
        url: "{% url 'getVehicles' %}",
        success: function(response){
          if(response.status){
            let data = JSON.parse(response.data);
            let vehiclesList = $('#vehiclesList');

            for(let i=0; i<data.length; i++){
              let vehicle = data[i].fields.alias;
              let option = document.createElement('option');

              option.text = vehicle;
              option.setAttribute('value', data[i].pk);
              vehiclesList.append(option);
            }
          }else{
            alert(response.msgError);
          }
        },
        error: function(e){
          console.log(e);
        }
      });
    }

    function checkForm(form){

      let result = [];

      if(form.start_kilometer.value == ""){

        //form.start_kilometer.focus();
        form.start_kilometer.value = "El campo esta vació.";
        form.start_kilometer.style.color = "red";
        form.start_kilometer.style.borderColor = "red";

        result.push(false);
      }

      if(form.end_kilometer.value == ""){

        //form.end_kilometer.focus();
        form.end_kilometer.value = "El campo esta vació.";
        form.end_kilometer.style.color = "red";
        form.end_kilometer.style.borderColor = "red";

        result.push(false);
      }

      if(form.start_time.value == ""){

        //form.end_kilometer.focus();
        form.start_time.value = "El campo esta vació.";
        form.start_time.style.color = "red";
        form.start_time.style.borderColor = "red";

        result.push(false);
      }

      var re = /^[+-]?\d+(\.\d+)?$/;

      if(!re.test(form.start_kilometer.value)){
        console.log("entra");
        //form.start_kilometer.focus();
        form.start_kilometer.value = "El campo debe contener solo números.";
        form.start_kilometer.style.color = "red";

        result.push(false);
      }

      if(!re.test(form.end_kilometer.value)){

        //form.end_kilometer.focus();
        form.end_kilometer.value = "El campo debe contener solo números.";
        form.end_kilometer.style.color = "red";

        result.push(false);
      }

    }

    function checkFormNumber(form){
      let result = [];
      var re = /^[+-]?\d+(\.\d+)?$/;

      if(!re.test(form.start_kilometer.value)){
    
        form.start_kilometer.focus();
        form.start_kilometer.value = "El campo debe contener solo numeros.";
        form.start_kilometer.style.color = "red";

        result.push(false);
      }

      if(!re.test(form.end_kilometer.value)){

        form.end_kilometer.focus();
        form.end_kilometer.value = "El campo debe contener solo numeros.";
        form.end_kilometer.style.color = "red";

        result.push(false);
      }
    }

    function saveBinnacle(formData){
      let form = $j('#formSaveBinnacle');

      $j.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: formData,
        success: function(response){
          //console.log(response);
          if(response.status){
            alert(response.msg);
          }else{
            console.log(response.errors);
          }
        },
        error: function(e){
          console.log(e);
        }
      });

    }

    $j('#btnSaveBinnacle').click(function(e){
      e.preventDefault();

      checkForm(document.querySelector('#formSaveBinnacle'));
      //checkFormNumber(document.querySelector('#formSaveBinnacle'));

      return;
      let form = $j('#formSaveBinnacle');
      let formData = jsonFormat(form.serializeArray());
      let vehiclesList = document.querySelector('#vehiclesList');
      let vehicleSelected = vehiclesList.options[vehiclesList.selectedIndex].value;

      formData['vehicle_id'] = vehicleSelected;
      saveBinnacle(formData);
    });

    $j('#vehiclesList').change(function(){
      let id_vehicle = $j('#vehiclesList option:selected').text();
      $j.ajax({
        type: 'GET',
        data: {'vehicle': id_vehicle, 'from_file': true},
        url: "{% url 'getCurrentMileagesVehicle' %}",
        success: function(response){
          console.log(response);
          if(response.status){

              //let current_mileages = response.end_kilometer__max;
              let current_mileages = response.current_mileages;
              //console.log(current_mileages);

              if(current_mileages == 'null'){
                $j('#id_start_kilometer').prop('readonly', false);
              }

              $j('#id_start_kilometer').val(current_mileages);
              $j('#id_start_kilometer').prop('readonly', true);
              $j('#id_start_kilometer').css('color', 'green');
          }else{
            alert(response.msgError);
          }
        },
        error: function(e){
          console.log(e);
        }
      });

    });

    //##################  UTILS  ########################
    $j(':input').keypress(function(){
      $j(this).css('color', 'black');
      $j(this).css('border-color', '');
    });

  </script>
{% endblock %}
