{% extends 'base.html' %}

{% block head %}
<title>VTtracker Registrar Bitacora</title>
<style>
  width: 350px;
</style>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="content-binnacle">
      <h5>Nuevo Registro de Bitacora</h5>
      <br>
      <form class="formBinnacle" method="post" id="formSaveBinnacle" action="{% url 'registerBinnacle'  %}">
        {% csrf_token %}
        <div class="form-group">
          {{form.route.label_tag}}
          {{form.route}}
        </div>
        <div class="form-group">
          <label for="vehicles">Vehiculo: </label>
          <select class="form-control" id="vehiclesList" name="vehiclesList">
            <option value="0">Selecciona una opción</option>
          </select>
        </div>
        <div class="form-group">
          {{form.start_kilometer.label_tag}}
          {{form.start_kilometer}}
        </div>
        <div class="form-group">
          {{form.end_kilometer.label_tag}}
          {{form.end_kilometer}}
        </div>
        <div class="form-group">
          {{form.datetime.label_tag}}
          {{form.datetime}}
        </div>
        <div class="form-group">
          {{form.start_time.label_tag}}
          {{form.start_time}}
        </div>
        <div class="form-group">
          {{form.end_time.label_tag}}
          {{form.end_time}}
        </div>
        <br>
        <div class="btnSaveBinnacle">
          <button class="btn btn-info" type="submit" id="btnSaveBinnacle">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  <script>

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% load static %}
  <script src="{% static 'js/FormValidation.js' %}"></script>
  <script>
    var Dictionary = {
      'getVehicles': {% url 'getVehicles' %},
      'getCurrentMileagesVehicle': {% url 'getCurrentMileagesVehicle' %},
    };
  </script>
  <script src="{% static 'js/registerBinnacle.js' %}"></script>
{% endblock %}
